
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); /* импорт шрифта */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');










/* Анимации сектора 1 */
@keyframes logo1d { /* Анимация логотипа */
    from {
        margin-top: -125%;
        width: 100%;
    }
  
    to {
        left: 47.5%;
        top: 5%;
        bottom: 85.5%;
        width: 100%;
    }
}
@keyframes caption1d { /* Анимация заголовка1 - Солнечная электростанция */
    from {
        margin-top: -75%;
        /* width: 100%; */
    }
  
    to {
        /* margin-top: 1.2%;
        width: 100%; */
        width: 932px;
        height: 86px;
        left: 493px;
        top: 286px;
    }
}
@keyframes caption2d { /* Анимация заголовка2 - с доходом от 1000 $ в месяц */
    from {
        margin-top: -50%;
        /* width: 100%; */
    }
  
    to {
        /* margin-top: 1.2%;
        width: 100%; */
        width: 589px;
        height: 57px;
        left: 665px;
        top: 375px;
    }
}
@keyframes p1d { /* Анимация текста1 - Зеленый тариф для дома и бизнеса */
    from {
        margin-top: -100%;
        /* width: 100%; */
    }
  
    to {
        /* margin-top: 1.2%;
        width: 100%; */
        width: 315.16px;
        height: 25px;
        left: 802px;
        top: 261px;
    }
}









/* logo 1-2 */
.logo1{
    animation: 2.5s;
    animation-duration: 2.5s;
    animation-name: logo1d;
    animation-timing-function: ease-out;

    font-family: 'DynaPuff', cursive;
    position: absolute;
    left: 47.5%;
    top: 5%;
    bottom: 85.5%;
    z-index: 1;

    color: #FFFFFF;
}
.logo2{
    font-family: 'DynaPuff', cursive;
    position: absolute;
    left: 47.5%;
    top: 5675px;
    bottom: 85.5%;
    z-index: 1;

    color: #FFFFFF;
}










/* background 1-3 */

.background1{
    position: absolute;
    width: 1921px;
    height: 900px;
    left: -1px;
    top: 0px;
    z-index: 0;
    
    background: url(Background1.jpg);
}
.background2{
    position: absolute;
    width: 1920px;
    height: 500px;
    left: 0px;
    top: 2878px;
    z-index: 0;

    background: url(Background2.jpg);
}
.background3{
    position: absolute;
    width: 1920px;
    height: 730px;
    left: 0px;
    top: 5053px;
    z-index: 0;
    
    background: url(Background3.png);
}










/* picture 1-5 */

.picture1{
    position: absolute;
    width: 600px;
    height: 670px;
    left: 959px;
    top: 1143px;
    
    background: url(Picture1.jpg);
}
.picture2{
    position: absolute;
    width: 235px;
    height: 200px;
    left: 360px;
    top: 2203px;
    
    background: url(Picture2.jpg);
}
.picture3{
    position: absolute;
    width: 600px;
    height: 525px;
    left: 960px;
    top: 2203px;
    
    background: url(Picture3.jpg)
}
.picture4{
    position: absolute;
    width: 510px;
    height: 370px;
    left: 360px;
    top: 3621px;
    
    background: url(Picture4.jpg)
}
.picture5{
    position: absolute;
    width: 600px;
    height: 730px;
    left: 960px;
    top: 4173px;
    
    background: url(Picture5.png);
}










/* caption 1-7 */

.caption1{ /* Солнечная электростанция */
    animation: 2s;
    animation-duration: 2s;
    animation-name: caption1d;
    animation-timing-function: ease-out;

    position: absolute;
    width: 932px;
    height: 86px;
    left: 493px;
    top: 286px;

    text-align: center;
    font-family: 'Noto Sans';
    font-style: bold;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    /* font-variant: all-small-caps; */

    color: #FFFFFF;

    /* border: 1px solid #FFFFFF; */
}
.caption2{ /* с доходом от 1000 $ в месяц */
    animation: 2s;
    animation-duration: 2s;
    animation-name: caption2d;
    animation-timing-function: ease-out;

    position: absolute;
    width: 589px;
    height: 57px;
    left: 665px;
    top: 375px;

    text-align: center;
    font-family: 'Noto Sans';
    font-style: regular;
    font-weight: 400;
    font-size: 42px;
    line-height: 57px;

    color: #FFFFFF;

    /* border: 1px solid #FFFFFF; */
}
.caption3{ /* УСЛУГИ */
    position: absolute;
    width: 198px;
    height: 33px;
    left: 360px;
    top: 1050px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: #868585;
}
.caption4{ /* ЗЕЛЕНЫЙ ТАРИФ */
    position: absolute;
    width: 217px;
    height: 33px;
    left: 362px;
    top: 2000px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: #868585;
}
.caption5{ /* «Солнечная электростанция — идеальное вложение средств */
    position: absolute;
    width: 673px;
    height: 228px;
    left: 623px;
    top: 3006px;
    z-index: 1;
    
    text-align: center;
    font-family: 'Noto Sans';
    font-style: regular;
    font-weight: 400;
    font-size: 42px;
    line-height: 57px;

    color: #FFFFFF;
}
.caption6{ /* НАШИ КЛИЕНТЫ */

    position: absolute;
    width: 275px;
    height: 33px;
    left: 361px;
    top: 3528px;
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    
    color: #868585;
}
.caption7{ /* 5 ШАГОВ К СОБСТВЕННОЙ ЭЛЕКТРОСТАНЦИИ */
    position: absolute;
    width: 324px;
    height: 66px;
    left: 361px;
    top: 4173px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: #868585;
    
}
.caption8{ /* КОНТАКТЫ */
    position: absolute;
    width: 137px;
    height: 33px;
    left: 960px;
    top: 5123px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;


    color: #FFFFFF;

}
.caption9{ /* ОСТАВИТЬ ЗАЯВКУ */
    position: absolute;
    width: 232px;
    height: 33px;
    left: 360px;
    top: 5123px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: #FFFFFF;
}










/* textcaption 1-15 */

.textcaption1{ /* Полный комплект солнечной электростанции */
    position: absolute;
    width: 510px;
    height: 25px;
    left: 360px;
    top: 1143px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #303030;
}
.textcaption2{ /* Подбор оборудования с максимальной производительностью */
    position: absolute;
    width: 510px;
    height: 50px;
    left: 360px;
    top: 1309px;

    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    
    color: #303030;
    
}
.textcaption3{ /* Монтаж оборудования в соответствии с ГОСТом */
    position: absolute;
    width: 510px;
    height: 25px;
    left: 360px;
    top: 1500px;
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #303030;
}
.textcaption4{ /* Помощь в подключении к «Зеленому тарифу» */
    position: absolute;
    width: 510px;
    height: 25px;
    left: 360px;
    top: 1666px;
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #303030;
}
.textcaption5{ /* Гарантия выкупа */
    position: absolute;
    width: 184px;
    height: 26px;
    left: 360px;
    top: 2503px;
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #303030;
}
.textcaption6{ /* Вид вложения */
    position: absolute;
    width: 160px;
    height: 25px;
    left: 360px;
    top: 2629px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #303030;
}
.textcaption7{ /* Долгосрочно */
    position: absolute;
    width: 160px;
    height: 26px;
    left: 635px;
    top: 2503px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #303030;
}
.textcaption8{ /* Высокая ставка */
    position: absolute;
    width: 160px;
    height: 28px;
    left: 635px;
    top: 2629px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #303030;
}
.textcaption9{ /* «Зеленый тариф» — это */
    position: absolute;
    width: 600px;
    height: 130px;
    left: 960px;
    top: 2056px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #303030;
}
.textcaption10{ /* Солнечная электростанция 30 кВт подключенная по Зеленому Тарифу */
    position: absolute;
    width: 478px;
    height: 50px;
    left: 961px;
    top: 3621px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #303030;
}
.textcaption11{ /* Заявка или звонок */
    position: absolute;
    width: 181px;
    height: 25px;
    left: 360px;
    top: 4329px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #303030;
}
.textcaption12{ /* Консультация и замер на объекте */
    position: absolute;
    width: 323px;
    height: 25px;
    left: 360px;
    top: 4454px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #303030;
    
}
.textcaption13{ /* Заключение договора */
    position: absolute;
    width: 216px;
    height: 25px;
    left: 360px;
    top: 4579px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #303030;
}
.textcaption14{ /* Монтаж СЭС */
    position: absolute;
    width: 121px;
    height: 25px;
    left: 360px;
    top: 4699px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #303030;
}
.textcaption15{ /* Получение дохода от государства */
    position: absolute;
    width: 326px;
    height: 25px;
    left: 360px;
    top: 4819px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #303030;
    
}










/* text */

.text1{ /* Зеленый тариф для дома и бизнеса */
    animation: 2s;
    animation-duration: 2s;
    animation-name: p1d;
    animation-timing-function: ease-out;

    position: absolute;
    width: 315.16px;
    height: 25px;
    left: 802px;
    top: 261px;

    font-family: 'Noto Sans';
    font-style: regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
}
.text2{ /* 74 модели солнечных панелей, 31 модель инверторов */
position: absolute;
width: 510px;
height: 76px;
left: 360px;
top: 1183px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;

color: #303030;
}
.text3{ /* Подбираем солнечные панели с учетом расположения Вашего дома */
    position: absolute;
    width: 510px;
    height: 76px;
    left: 360px;
    top: 1374px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text4{ /* Монтаж производится в точном соответствии с ГОСТом */
    position: absolute;
    width: 510px;
    height: 76px;
    left: 360px;
    top: 1540px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text5{ /* Всю бюрократическую процедуру по подключению Вашей электростанции к «Зеленому тарифу» */
    position: absolute;
    width: 510px;
    height: 76px;
    left: 360px;
    top: 1706px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text6{ /* Цена, по которой домохозяйства могут продать электроэнергию */
    position: absolute;
    width: 235px;
    height: 114px;
    left: 635px;
    top: 2203px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text7{ /* Гарантированный выкуп электроэнергии государством - прописано в НКРЕ №447 */
    position: absolute;
    width: 235px;
    height: 78.44px;
    left: 360px;
    top: 2534px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text8{ /* Альтернатива банковским депозитам, окупаемость - от 16% до 18% годовых */
    position: absolute;
    width: 235px;
    height: 57px;
    left: 360px;
    top: 2660px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #303030;
}
.text9{ /* Это проект, поддерживаемый международными инвестиционными организациями */
    position: absolute;
    width: 235px;
    height: 76px;
    left: 635px;
    top: 2534px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text10{ /* Самая высокая тарифная ставка в европе - 0,16 евро */
    position: absolute;
    width: 235px;
    height: 40px;
    left: 635px;
    top: 2661.53px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text11{ /* Расположение: Харьковская обл., г. Харьков */
    position: absolute;
    width: 549px;
    height: 21px;
    left: 1011px;
    top: 3701px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text12{ /* Чистый доход за вычетом налогов с мая 2017 г. по май 2019 г. 13 900 $. */
    position: absolute;
    width: 549px;
    height: 19px;
    left: 1011px;
    top: 3737px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text13{ /* Смонтирована: апрель 2017 г. */
    position: absolute;
    width: 549px;
    height: 19px;
    left: 1011px;
    top: 3772px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text14{ /* Срок службы: 25-30 лет */
    position: absolute;
    width: 549px;
    height: 19px;
    left: 1011px;
    top: 3807px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text15{ /* Оставляете заявку на нашем сайте или связываетесь с нами по телефону или в мессенджерах. */
    position: absolute;
    width: 510px;
    height: 38px;
    left: 360px;
    top: 4356px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
    
}
.text16{ /* Мы просчитываем более 10- 15 вариантов солнечной станции на Вашем участке */
    position: absolute;
    width: 510px;
    height: 38px;
    left: 360px;
    top: 4481px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text17{ /* Заключается договор, благодаря которому, вы будете застрахованы */
    position: absolute;
    width: 510px;
    height: 38px;
    left: 360px;
    top: 4606px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text18{ /* Наши специалисты производят монтаж солнечных батарей, проводки и инверторов */
    position: absolute;
    width: 510px;
    height: 38px;
    left: 360px;
    top: 4726px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text19{ /* После подключения к «Зеленому тарифу», вы получаете доход за каждый киловатт */
    position: absolute;
    width: 510px;
    height: 57px;
    left: 360px;
    top: 4846px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #303030;
}
.text20{ /* Центральный офис: г. Москва, ул,Гоголя 13, 1й этаж */
    position: absolute;
    width: 600px;
    height: 50px;
    left: 960px;
    top: 5216px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
    
}
.text21{ /* Представительство в Киеве: г. Киев, ул. Є. Коновальця, 103 оф. 410 */
    position: absolute;
    width: 600px;
    height: 50px;
    left: 960px;
    top: 5296px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
 
    color: #FFFFFF;
}
.text22{ /* Представительства в Харькове, Одессе, Ростове, Сочи, Белгороде */
    position: absolute;
    width: 600px;
    height: 25px;
    left: 960px;
    top: 5376px;
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
}
.text23{ /* +7 987 654-54-56 +38 067 504-32-57 */
    position: absolute;
    width: 600px;
    height: 50px;
    left: 960px;
    top: 5456px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
}
.text24{ /* Ежедневно 08:00 - 20:00 */
    position: absolute;
    width: 600px;
    height: 22px;
    left: 960px;
    top: 5536px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;

    color: #FFFFFF;
}










/* Форма: поля 1-4 и кнопка */
.input1{
    padding: 5px;
    border: 1px solid #fff;
    background: inherit;
    border-radius: 5px;
    font: inherit;
    width: 100%;
    color: #ffffff;
    
    position: absolute;
    width: 400px;
    height: 35px;
    left: 359px;
    top: 5230px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;
}
.input2{
    padding: 5px;
    border: 1px solid #fff;
    background: inherit;
    border-radius: 5px;
    font: inherit;
    width: 100%;
    color: #ffffff;

    position: absolute;
    width: 400px;
    height: 35px;
    left: 359px;
    top: 5310px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;
}
.input3{
    padding: 5px;
    border: 1px solid #fff;
    background: inherit;
    border-radius: 5px;
    font: inherit;
    width: 100%;
    color: #ffffff;

    position: absolute;
    width: 400px;
    height: 35px;
    left: 359px;
    top: 5390px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;
}
.input4{
    padding: 5px;
    border: 1px solid #fff;
    background: inherit;
    border-radius: 5px;
    font: inherit;
    width: 100%;
    color: #ffffff;

    position: absolute;
    width: 400px;
    height: 35px;
    left: 359px;
    top: 5470px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;
}
.btn{
    padding: 5px;
    border: 1px solid #fff;
    background: inherit;
    border-radius: 5px;
    font: inherit;
    width: 100%;
    color: #ffffff;

    position: absolute;
    width: 412.5px;
    height: 50px;
    left: 359px;
    top: 5550px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;
}
.btn:hover{
    padding: 5px;
    border: 1px solid #fff;
    background: #bbbbbb;
    border-radius: 5px;
    font: inherit;

    position: absolute;
    width: 412.5px;
    height: 50px;
    left: 359px;
    top: 5550px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;
}